/web/bundles/acmedemo
/web/bundles/framework
/web/bundles/sensiodistribution
/web/bundles/sonataadmin
/web/bundles/sonatajquery
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
